---
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: default-pool
  namespace: metallb-system
spec:
  addresses:
    - 192.168.99.120-192.168.99.140  # 21 IP addresses for LoadBalancer services
  autoAssign: true
  avoidBuggyIPs: false
