apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: tailscale
resources:
  - namespace.yaml
  - rbac.yaml
  - deployment.yaml
  # Note: tailscale-auth secret must be created manually
  # kubectl create secret generic tailscale-auth --namespace=tailscale --from-literal=TS_AUTHKEY="tskey-auth-..."
