# kubernetes/infrastructure/kube-vip/kustomization.yaml
---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-system
resources:
  - namespace.yaml
  - rbac.yaml
  - daemonset.yaml
  - cloud-provider.yaml
