apiVersion: apps/v1
kind: Deployment
metadata:
  name: adguardhome
  namespace: adguardhome
spec:
  replicas: 1  # Single instance is sufficient
  selector:
    matchLabels:
      app: adguardhome
  template:
    metadata:
      labels:
        app: adguardhome
    spec:
      containers:
      - name: adguardhome
        image: adguard/adguardhome:latest
        ports:
        - containerPort: 53
          name: dns-tcp
          protocol: TCP
        - containerPort: 53
          name: dns-udp
          protocol: UDP
        - containerPort: 3000
          name: http
        volumeMounts:
        - name: config
          mountPath: /opt/adguardhome/conf
        - name: data
          mountPath: /opt/adguardhome/work
      volumes:
      - name: config
        persistentVolumeClaim:
          claimName: adguardhome-config
      - name: data
        persistentVolumeClaim:
          claimName: adguardhome-data