apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: adguardhome-config
  namespace: adguardhome
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: adguardhome-data
  namespace: adguardhome
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
